*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    max-width: 1600px;
    margin: 0 auto;
}
.main_body_container{
    max-width: 1500px;
    margin: 0 auto;
}
.common_btn {
    display: inline-block;
    text-decoration: none;
    padding: 20px 25px;
    border-radius: 8px;
    background-color: #ff900e;
    color: #FFFFFF;
}
/*Main Menu Bar Start*/
header {
    background-color: #fff4e7;
    margin-bottom: 85px;
}
.header_menu {
    margin-bottom: 110px;
}
.header_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_title {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    display: inline-block;
}
.primary_menu {
    list-style: none;
    display: flex;
    gap: 70px;
}
.primary_menu li a {
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
    padding: 60px 0px;
}
/*Main Menu Bar End*/

/*Header Main Section Start*/
.header_main_info {
    width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 45px;
}
.primary_title {
    font-size: 64px;
    font-weight: 700;
    color: #131313;
    line-height: 70px;
}
.header_main_description {
    margin: 32px 0;
}
.primary_description {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    line-height: 30px;
}
.primary_btn {
    display: inline-block;
    text-decoration: none;
    padding: 20px 25px;
    border-radius: 8px;
    background-color: #ff900e;
    color: #FFFFFF;
}
.header_primary_banner {
    display: flex;
    justify-content: center;
}
.main_banner {
    margin-bottom: 45px;
}
/*Header Main Section End*/

/*Quick List of Feature Section Start*/
.quick_list_features {
    margin-bottom: 130px;
}
.quick_list_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.content_images {
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.team_image {
    display: block;
}
.content_info {
    width: 537px;
    height: 305px;
}
.list_title {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
.style_1 {
    font-weight: 500;
    color: #727272;
}
.style_2{
    font-weight: 700;
    color: #FF900E;
}
.content_description {
    margin: 36px 0px;
}
.list_description {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    line-height: 26px;
}
/*Quick List of Feature Section End*/

/*Main Features Section Start*/
.main_features {
    margin-bottom: 180px;
}
.features_content {
    width: 1440px;
    height: 1059px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 54px;
    margin-bottom: 130px;
}
.features_info {
    width: 586px;
    height: 982px;
}
.features_heading {
    padding-left: 21px;
    border-left: 5px solid #FF900E;
}
.features_title {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
.features_description {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    margin-top: 24px;
    margin-bottom: 30px;
    line-height: 26px;
}
.features_options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.options {
    padding: 30px 35px;
    box-shadow: 0 0 19px rgb(0 0 0 / 14%);
    border-radius: 11px;
}
.option_name {
    margin-bottom: 10px;
}
.secondary_title {
    font-size: 20px;
    font-weight: 600;
    color: #131313;
}
.secondary_info {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    line-height: 26px;
}
.features_banner {
    width: 800px;
    height: 1059px;
    position: relative;
}
.features_image {
    display: flex;
    justify-content: flex-end;
}
.architect_image {
    display: block;
}
.sticker {
    width: 342px;
    height: 200px;
    background-color: #FF900E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}
.sticker_content {
    width: 258px;
    text-align: center;
}
.sticker_title {
    font-size: 65px;
    font-weight: 700;
    line-height: 40px;
    color: #fff;
}
.sticker_style{
    font-size: 25px;
    font-weight: 500;
}
.extra_info {
    margin-left: 20px;
    margin-bottom: 100px;
}
.extra_title_box{
    width: 258px;
    height: 53px;
    margin-bottom: 24px;
}
.extra_title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.extra_description_box{
    width: 542px;
    height: 52px;
}
.extra_description {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    line-height: 26px;
}
.achievement_section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 124.17px;
}
.achievement {
    width: 241.83px;
    height: 241.83px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
}
.achievement_info {
    width: 169px;
    height: 136px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
}
.number {
    font-size: 45px;
    font-weight: 600;
    color: #424242;
}
.achieve_title {
    font-size: 20px;
    font-weight: 600;
    color: #727272;
}
/*Main Features Section Start*/

/*Sponsors Section Start*/
.sponsors_section {
    margin-bottom: 130px;
}
.sponsors_info {
    width: 542px;
    height: 129px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.sponsors_title {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    margin-bottom: 24px;
}
.sponsors_description {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    line-height: 26px;
}
.sponsors_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 155px;
}
.s_logo {
    display: block;
}
/*Sponsors Section End*/

/*Footer Section Start*/
.footer_section {
    margin-bottom: 216px;
}
.footer_content {
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF4E7;
}
.copyright {
    font-size: 20px;
    font-weight: 400;
    color: #424242;
}
/*Footer Section Start*/